<!DOCTYPE html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
<div class=welcome>Welcome to FitBit</div>
<p>Name : {{item.name}}</p><br>
<p>Date of birth : {{item.date_of_birth}}</p><br>
<p>Address : {{item.address}}</p><br>
<p>Height : {{item.height}}</p><br>
<p>Weight : {{item.weight}}</p></br>
<p>Designation : {{item.designation}}</p><br>
<p>Workplace : {{item.workplace}}</p><br>
<!--<input type=submit value=update name=update />-->
<a href='/dashboard'>Update my bio</a>
</body>
</html>           
